body {
    font-family: 'Indie Flower', cursive;
}

header{
    background: #FFFAAE;
    color: #5faee2;
    padding: 0.8em 0.3em 0.8em 0.3em;
}

footer{
    background: #FFFAAE;
}

div .cuerpo{
    background: #CCCCCC;
}

.navbar {
    position: inherit;
}

.bg-faded {
    background-color: #FFFAAE;
}






