body {
    font-family: 'Indie Flower', cursive;
}

header{
    background: #FFFAAE;
    color: #5faee2;
}

footer{
    background: #FFFAAE;
}

.cuerpo{
    background: #CCCCCC;
    min-height:92vmax !important;
}

.navbar {
    position: inherit;
}

.bg-faded {
    background-color: #FFFAAE;
}

.cuerpo .col-12 .col-lg-12{
    min-height:50vmax !important;
}






